<header>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container">
			
			<!-- Primer segmento -->
			<a class="navbar-brand" href="#"><i class="fas fa-car"></i> Consecionario Nazarik</a>
			<div class="collapse navbar-collapse">
				<div class="navbar-nav">
					<a class="nav-item nav-link" [routerLink]="['home']">Inicio</a>
					<a class="nav-item nav-link" [routerLink]="['carnew']" *ngIf="identity">Ingresar automovil</a>
					<a class="nav-item nav-link" [routerLink]="['cardetail']" *ngIf="identity">Listar automoviles</a>
				</div>
			</div>
	
			<!-- Segmento sin identificar -->
			<div class="collapse navbar-collapse" *ngIf="!identity">
				<div class="nav navbar-nav ml-auto">
					<a [routerLink]="['login']" class="nav-item nav-link">Login</a>
					<span class="navbar-text">
					<i class="fas fa-grip-lines-vertical"></i>
					</span>
					<a [routerLink]="['register']" class="nav-item nav-link">Registro</a>
				</div>
			</div>

			<!-- Segmento identificado -->
			<div class="collapse navbar-collapse" *ngIf="identity">
				<div class="nav navbar-nav ml-auto">
					<span class="nav-item nav-link">{{"Bienvenido(a)" + ' ' + identity.name}}</span>
					<span class="navbar-text">
					<i class="fas fa-grip-lines-vertical"></i>
					</span>
					<a [routerLink]="['logout', 1]" class="nav-item nav-link">
						<i class="fas fa-sign-out-alt"></i>
						Salir
					</a>
				</div>
			</div>

		</div>
	</nav>
</header>
