<h1 class="pt-5 text-center">Bienvenido!</h1>
<div class="row pt-5">
  <div class="col">
    <!-- <img src="assets/img/model.gif" alt=""> -->
    <video autoplay loop muted playsinline>
        <source src="../../../assets/img/Bqe3SO1CAAElwiW.mp4" type="video/webm">
    </video>
  </div>
  <div class="col">
    <p class="text-justify">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium faucibus luctus. 
      Cras venenatis suscipit aliquet. Nam ut auctor nibh. Nu Suspendisse porta nec sem vitae interdum. 
      Aenean posuere diam non nisi finibus, semper sollicitudin neque semper. In sed erat aliquam, 
      pulvinar elit vel, lacinia neque. Aenean cursus dui ut accumsan convallis. Maecenas feugiat ipsum 
      id diam malesuada, ac ultricies dolor sagittis. Fusce dolor velit, ullamcorper convallis rutrum at, aliquet 
      fringilla enim. Cras turpis massa, efficitur id turpis ut, tempus efficitur metus. Proin aliquam efficitur 
      orci nec vestibulum. Etiam pretium at mauris id rutrum. Duis a diam et tellus tristique blandit. Mauris eget 
      nunc ac sem vehicula vehicula. Phasellus sodales accumsan justo, nec viverra ante tincidunt in. Phasellus vestibulum 
      faucibus erat, eget bibendum elit interdum vitae. Aliquam elit sapien, dignissim at laoreet quis, efficitur facilisis elit. 
      Fusce pulvinar tincidunt diam, id eleifend massa sagittis ac. Maecenas egestas, purus id commodo condimentum, felis neque placerat est, 
      eu aliquam orci libero ultrices nunc.
    </p>
  </div>
</div>