<h2 class="text-center mt-3">{{title}}</h2>
<div class="abs-center col-md-12 mt-3">
  <div class="col-md-4">
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" action="" class="form-group">
      <div class="row">
        <label for="email">Email</label>
        <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" placeholder="name@example.com" required />
        <span *ngIf="!email.valid && email.touched" class="text-muted">El campo email es obligatorio</span>
      </div>
      <div class="row">
        <label for="password">Contraseña</label>
        <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" required />
        <span *ngIf="!password.valid && password.touched" class="text-muted">El campo password es obligatorio</span>
      </div>
      <div class="text-center">
        <input type="submit" value="Login" class="btn btn-primary mt-4" [disabled]="!loginForm.form.valid" />
      </div>
    </form>
  </div>
</div>